<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    
    <title>average student pain</title>
</head>
<body>
    
    <center style="font-size:70px;"> Lista de recursos</center>
    <br>
    <hr>
    <table style="margin-left: 850px;" border="3" cellpadding="15">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Disciplina</th>
    </table>
    <p><a href="/">Voltar</a></p>

</body>
</html>